
.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  .markdown a {
    color: rgb(51, 51, 194);
    text-decoration: none;
  }
  .markdown h2 {
    @apply text-2xl mt-12 mb-4 leading-snug;
  }
  
  .markdown h3 {
    @apply text-xl mt-8 mb-4 leading-snug;
  }

  .markdown pre {
    @apply p-4 my-6 bg-gray-100 rounded-md; /* Add styles for background and padding */
    max-width: 100%; /* Allow code block to take full width */
    overflow-x: auto; /* Enable horizontal scrolling when content overflows */
    word-wrap: normal; /* Prevent word wrapping within code block */
    white-space: pre-wrap; /* Preserve line breaks and spaces */
  }
  
  /* Adjust the styles for inline code */
  .markdown code {
    @apply bg-gray-100 px-2 py-1 rounded-md; /* Add styles for inline code */
  }

  .markdown img{
    @apply mt-10 mb-10;
  }
  
  /* markdown-styles.module.css */

/* 给表格整体添加边框和间距 */
.markdown table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    margin: 1em 0;
  }
  
  /* 表头的背景色和文本样式 */
  .markdown th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
  }
  
  /* 表格单元格的边框和内边距 */
  .markdown td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  /* 隔行设置背景色 */
  .markdown tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  /* 其他样式 */
.gist-embed {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin: 16px 0;
  }


